@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFFFFF;
}

.bgWrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 75.93vh;
  width: 100vw;
  overflow: hidden;
  z-index: -2;
}

.womanPortraitWrap {
  position: fixed;
  bottom: 0;
  right: 6.5vw;
  width: 65vw;
  overflow: hidden;
  z-index: -1;
}

.serviceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 9.0625rem;
  height: 13.75rem;
}

.serviceCard h2 {
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 3.375rem;
  color: #264065;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.serviceCard p {
  color: #909090;
}

.testimony {
  width: 25rem;
  height: 15rem;
  border-radius: 1rem;
  text-wrap: nowrap;
  padding: 1.5rem;
  gap: 0.5rem;
  background-color: #FFFFFF80;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(0.5rem);
}

.testimony p {
  color: #070D15;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
