@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFFFFF;
}

.bgWrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 75.93vh;
  width: 100vw;
  overflow: hidden;
  z-index: -2;
}

.womanPortraitWrap {
  position: fixed;
  bottom: 0;
  right: 6.5vw;
  width: 65vw;
  overflow: hidden;
  z-index: -1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
